<div class="album">
    <div class="container px-5">
        <div class="row d-flex flex-wrap text-center" id="studuios-box">
            <h1 class="text-center my-4 text-light font-weight-bold w-100">Лучшие вебкам-студии</h1>
            {% include "includes/studios-filter.html" %}
            {% if all_studios_list %}
                {% for studio in all_studios_list %}
                    {% include "includes/studio-card.html" %}
                {% endfor %}
                <a href="{% url 'ad:studio_search' %}">
                    <button type="submit" class="btn-custom round-it-60 text-light bg-purple mt-3">
                        <i class="fa me-2 fa-chevron-circle-down"></i>Больше студий
                    </button>
                </a>
            {% else %}
            <h3 class="text-start my-4 text-light">Студии не найдены :(</h3>
            {% endif %}
        </div>    </div>
</div>