<section>
  <footer class="text-center text-white bg-light-dark">
    <div class="container">
      <section>
          <div class="row">
            <div class="col-md-6 my-md-2 mt-3 mb-1">
              <a href="{{ config.CHAT_LINK }}" target="_blank">
                <button class="btn-custom round-it-60 bg-purple w-75">
                  <i class="fa-brands me-2 fa-telegram"></i>Чат Telegram
                </button>
              </a>
            </div>
            <div class="col-md-6 my-md-2 mt-1 mb-3">
              <a href="{{ config.MANAGER_LINK }}" target="_blank">
                <button class="btn-custom round-it-60 bg-green w-75"><i class="fa-solid fa-plus me-2"></i>Попасть в каталог
                </button>
              </a>
            </div>
          </div>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © {% now "Y" %} <a class="text-white" href="{% url 'ad:index' %}">{{ config.SITE_NAME }}</a>
    </div>
  </footer>
</section>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>