{% if paginator.num_pages > 1 %}
<p class="text-light mb-1">Страница {{ page_obj.number }}</p>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link text-light" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for num_page in page_obj.paginator.page_range %}
        <li class="page-item"><a class="page-link text-light" href="?page={{ num_page }}">{{ num_page }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link text-light" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
        </ul>
    </nav>
{% endif %}