<div class="container">
    <form class="row" method="get" action="{% url 'ad:studio_search' %}">
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="dropdown">
                <button class="btn-custom border-fine round-it-15 text-light bg-light-dark text-start dropdown-toggle-c w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Город
                </button>
                <ul class="dropdown-menu p-2 mt-2 border-fine round-it-15">
                    {{ form.cities }}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="dropdown">
                <button class="btn-custom border-fine round-it-15  text-light bg-light-dark text-start dropdown-toggle-c w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Тип
                </button>
                <ul class="dropdown-menu p-2 mt-2 border-fine round-it-15">
                    {{ form.format }}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="dropdown">
                <button class="btn-custom border-fine round-it-15 text-light bg-light-dark text-start dropdown-toggle-c w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Опыт
                </button>
                <ul class="dropdown-menu p-2 mt-2 border-fine round-it-15">
                    {{ form.experience }}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="dropdown">
                <button class="btn-custom border-fine round-it-15  text-light bg-light-dark text-start dropdown-toggle-c w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Гендер
                </button>
                <ul class="dropdown-menu p-2 mt-2 border-fine round-it-15">
                    {{ form.gender }}
                </ul>
            </div>
        </div>
        <div class="text-center col-sm-12 col-md-12 col-lg-4 mt-3 mx-auto">
            <button type="submit" class="btn-custom round-it-15  bg-purple w-100">
                Найти студию <i class="fa-solid ms-2 fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
<script>
    function preventDropdownClose(event) {
        event.stopPropagation();
    }

    document.querySelectorAll('#id_cities label, #id_format label, #id_gender label, #id_experience label').forEach(function(label) {
        label.addEventListener('click', preventDropdownClose);
    });
</script>